@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

:root {
	/* color */
	--black: #2d2d2d;
	--dark-gray: #666;
	--gray: #bbbcbd;
	--light-gray: #e8e8e8;
	--white-gray: #f6f7f9;
	--white: #fff;
	--green: #13cf94;
	--purple-blue: #5700f7;
	--yellow: #feb13d;
	--red: #f8004c;
	/* ui color */
	--primary-color: var(--green);
	--background-color: var(--white-gray);
	--border-color: var(--light-gray);
	--border-color-dark: var(--gray);
	--on-background-color: var(--dark-gray);
	--error-color: var(--red);
	/* font size */
	--fs-normal: 14px;
	--fs-h1: 40px;
	--fs-h2: 32px;
	--fs-h3: 28px;
	--fs-h4: 24px;
	--fs-h5: 20px;
	--fs-h6: 16px;
	--fs-caption: 12px;
	--fs-caption-sm: 10px;
	/* font weight */
	--fw-extra-bold: 700;
	--fw-bold: 500;
	--fw-normal: 400;
	/* line-height */
	--lh-normal: calc(var(--fs-normal) + 8px);
	--lh-h1: calc(var(--fs-h1) + 8px);
	--lh-h2: calc(var(--fs-h2) + 8px);
	--lh-h3: calc(var(--fs-h3) + 8px);
	--lh-h4: calc(var(--fs-h4) + 8px);
	--lh-h5: calc(var(--fs-h5) + 8px);
	--lh-h6: calc(var(--fs-h6) + 8px);
	--lh-caption: calc(var(--fs-caption) + 8px);
	--lh-caption-sm: calc(var(--fs-caption-sm) + 8px);
	/* border-radius */
	--br-lg: 16px;
	--br-md: 8px;
	--br-sm: 4px;
	/* box-shadow */
	--bs-layer1: 8px 11px 29px 0px rgba(129, 127, 139, 0.15);
	/* width: 12column */
	--col-1: 110px;
	--col-4: calc(var(--col-1) * 4);
}
body {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: var(--fw-normal);
	font-size: var(--fs-normal);
	color: var(--on-background-color);
}
/* layout */
.wrap {
	position: relative;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.container.main {
	padding: 120px 0;
}
/* Header */
.header {
	position: absolute;
	left: 40px;
	top: 48px;
	display: flex;
	width: calc(100% - 80px);
	height: 72px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 72px;
	margin: 0 auto;
	z-index: 100;
}
.header .container {
	display: flex;
	align-items: center;
}
.logo {
	margin-right: auto;
	font-weight: var(--fw-bold);
	font-size: var(--fs-h1);
	color: var(--white);
}
.navigation {
	flex: 1;
	text-align: center;
}
.navigation a {
	margin: 0 20px;
	color: var(--white);
}
.menu {
	margin-left: auto;
	text-align: center;
}
.menu > img {
	width: 24px;
	height: 24px;
}
/* visual */
.visual {
	position: relative;
	height: 800px;
	background: url("../src/assets/visual_bg.jpg") no-repeat;
}
.visual .container::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.36);
}
.visual .container {
	display: flex;
	align-items: center;
	height: 100%;
}
.content {
	z-index: 1;
}
.content .title {
	line-height: 1.4;
	font-size: 64px;
	font-weight: var(--fw-extra-bold);
	color: var(--white);
}
.content .sub_title {
	font-size: var(--fs-h5);
	color: var(--white);
}
.content .visual_btn {
	margin-top: 48px;
	padding: 16px 48px;
	border-radius: 100px;
	border: 0 none;
	background: var(--primary-color);
	line-height: 1;
	font-size: var(--fs-h5);
	font-weight: var(--fw-bold);
	color: var(--white);
}
/* main content */
/* profile */
.main_title {
	margin-bottom: 48px;
}
.main_title .sub_title {
	margin-bottom: 16px;
	font-size: var(--fs-h5);
	font-weight: var(--fw-bold);
	color: var(--primary-color);
}
.main_title .title {
	padding: 24px 0;
	border-top: 1px solid var(--border-color-dark);
	font-size: var(--fs-h2);
	font-weight: var(--fw-bold);
	color: var(--black);
}
.profile_content_wrap {
	display: flex;
	align-items: stretch;
}
.profile_content {
	flex: 1;
	margin-left: 24px;
	padding: 54px;
	border: 1px solid var(--border-color);
	background: var(--background-color);
}
.profile_content:nth-child(1) {
	margin-left: 0;
}
.profile_content_title {
	margin-bottom: 16px;
	font-size: var(--fs-h6);
	font-weight: var(--fw-bold);
	color: var(--black);
}
.profile_content_description li {
	margin-left: 20px;
	list-style-type: disc;
	line-height: var(--lh-normal);
	font-size: var(--fs-normal);
}
/* skills */
.skills_set {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}
.skills_set .type {
	margin-right: 20px;
	font-size: var(--fs-h5);
	font-weight: var(--fw-bold);
	color: var(--black);
}
.skills_set .skill {
	padding: 16px 24px;
	margin: 0 4px;
	border-radius: 60px;
	border: 1px solid var(--primary-color);
	background-color: var(--white);
	font-weight: var(--fw-bold);
	color: var(--primary-color);
}
.skills_set .skill.em {
	border: 0 none;
	background-color: var(--primary-color);
	font-weight: var(--fw-bold);
	color: var(--white);
}

@media (max-width: 1240px) {
	.container {
		width: calc(100% - 80px);
	}
}
