@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

:root {
	/* color */
	--black: #2d2d2d;
	--dark-gray: #666;
	--gray: #bbbcbd;
	--light-gray: #e8e8e8;
	--white-gray: #f6f7f9;
	--white: #fff;
	--green: #13cf94;
	--purple-blue: #5700f7;
	--yellow: #feb13d;
	--red: #f8004c;
	/* ui color */
	--primary-color: var(--green);
	--background-color: var(--white-gray);
	--border-color: var(--light-gray);
	--border-color-dark: var(--gray);
	--on-background-color: var(--dark-gray);
	--error-color: var(--red);
	/* font size */
	--fs-normal: 14px;
	--fs-h1: 40px;
	--fs-h2: 32px;
	--fs-h3: 28px;
	--fs-h4: 24px;
	--fs-h5: 20px;
	--fs-h6: 16px;
	--fs-caption: 12px;
	--fs-caption-sm: 10px;
	/* font weight */
	--fw-extra-bold: 700;
	--fw-bold: 500;
	--fw-normal: 400;
	/* line-height */
	--lh-normal: calc(var(--fs-normal) + 8px);
	--lh-h1: calc(var(--fs-h1) + 8px);
	--lh-h2: calc(var(--fs-h2) + 8px);
	--lh-h3: calc(var(--fs-h3) + 8px);
	--lh-h4: calc(var(--fs-h4) + 8px);
	--lh-h5: calc(var(--fs-h5) + 8px);
	--lh-h6: calc(var(--fs-h6) + 8px);
	--lh-caption: calc(var(--fs-caption) + 8px);
	--lh-caption-sm: calc(var(--fs-caption-sm) + 8px);
	/* border-radius */
	--br-lg: 16px;
	--br-md: 8px;
	--br-sm: 4px;
	/* box-shadow */
	--bs-layer1: 8px 11px 29px 0px rgba(129, 127, 139, 0.15);
	/* width: 12column */
	--col-1: 110px;
	--col-4: calc(var(--col-1) * 4);
}
/* 스크롤 이벤트로 인한 효과 적용 */
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: var(--fw-normal);
	font-size: var(--fs-normal);
	color: var(--on-background-color);
}
/* layout */
.wrap {
	position: relative;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.container.main {
	padding: 120px 0;
}
/* Header */
.header {
	position: absolute;
	left: 40px;
	top: 48px;
	display: flex;
	width: calc(100% - 80px);
	height: 72px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 72px;
	margin: 0 auto;
	z-index: 100;
}
.header .container {
	display: flex;
	align-items: center;
}
.logo {
	margin-right: auto;
	font-weight: var(--fw-bold);
	font-size: var(--fs-h3);
	color: var(--white);
	letter-spacing: -1px;
}
.navigation {
	flex: 1;
	text-align: center;
}
.navigation a {
	margin: 0 20px;
	color: var(--white);
	display: inline-block;
	overflow: hidden;
}
.navigation a span {
	position: relative;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	display: inline-block;
	padding: 8px 0;
}
.navigation a span::before {
	content: attr(data-naviname);
	position: absolute;
	top: 100%;
	padding: 8px 0;
}
.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 100%;
	margin-left: auto;
	border: 0 none;
	background: none;
}
.menu > img {
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border: 0 none;
	border-radius: 0;
	background: var(--white);
	box-shadow: 0px 10px 30px rgb(0 0 0 / 5%);
}
.header.fixed a {
	color: var(--black);
}
.header.fixed .logo {
	color: var(--black);
}
.header.fixed .menu {
	background: var(--primary-color);
}
.navigation a:hover {
	color: var(--primary-color);
}
.navigation a:hover span {
	transform: translateY(-100%);
}
/* visual */
.visual {
	position: relative;
	background: url("../src/assets/visual_bg.jpg") no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.visual .container::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.36);
}
.visual .container {
	height: 100%;
}
.visual .visual_content {
	position: sticky;
	z-index: 1;
	padding: 240px 0 120px;
}
.visual .visual_content .title {
	line-height: 1.4;
	font-size: 64px;
	font-weight: var(--fw-extra-bold);
	color: var(--white);
}
.visual .visual_content .sub_title {
	font-size: var(--fs-h5);
	color: var(--white);
}
.visual .visual_content .visual_btn {
	display: inline-block;
	margin-top: 48px;
	padding: 16px 48px;
	border-radius: 100px;
	border: 1px solid var(--primary-color);
	background: var(--primary-color);
	line-height: 1;
	font-size: var(--fs-h5);
	font-weight: var(--fw-bold);
	color: var(--white);
	transition: all 0.2s ease-in;
}
.visual .visual_content .visual_btn:hover {
	border: 1px solid var(--primary-color);
	background: none;
	color: var(--primary-color);
}
/* main content */
/* profile */
.main_title {
	margin-bottom: 48px;
}
.main_title .sub_title {
	margin-bottom: 16px;
	font-size: var(--fs-h5);
	font-weight: var(--fw-bold);
	color: var(--primary-color);
}
.main_title .title {
	padding: 24px 0;
	border-top: 1px solid var(--border-color-dark);
	font-size: var(--fs-h2);
	font-weight: var(--fw-bold);
	color: var(--black);
}
.profile_content_wrap {
	display: flex;
	align-items: stretch;
}
.profile_content {
	flex: 1;
	margin-left: 24px;
	padding: 54px;
	border-radius: 16px;
	border: 1px solid var(--border-color);
	background: var(--background-color);
	transition: all 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
.profile_content:nth-child(1) {
	margin-left: 0;
}
.profile_content svg {
	width: 48px;
	height: 48px;
	margin-bottom: 16px;
	fill: var(--primary-color);
}
.profile_content_title {
	margin-bottom: 16px;
	font-size: var(--fs-h6);
	font-weight: var(--fw-bold);
	color: var(--black);
}
.profile_content_description li {
	margin-left: 20px;
	list-style-type: disc;
	line-height: var(--lh-normal);
	font-size: var(--fs-normal);
}
.profile_content:hover {
	border: 1px solid var(--primary-color);
	background: var(--primary-color);
	color: var(--white);
	box-shadow: 4px 5px 12px 3px rgb(0 0 0 / 8%);
	padding: 32px 54px 76px 54px;
}
.profile_content:hover svg {
	fill: var(--white);
}
.profile_content:hover .profile_content_title {
	color: var(--white);
}
/* skills */
.skills_set {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}
.skills_set .type {
	min-width: 180px;
	margin-right: 20px;
	font-size: var(--fs-h6);
	font-weight: var(--fw-bold);
	color: var(--black);
}
.skills_set .skill {
	padding: 16px 24px;
	margin: 0 4px;
	border-radius: 60px;
	border: 1px solid var(--primary-color);
	background-color: var(--white);
	font-size: var(--fs-caption);
	font-weight: var(--fw-bold);
	color: var(--primary-color);
}
.skills_set .skill.em {
	border: 0 none;
	background-color: var(--primary-color);
	font-weight: var(--fw-bold);
	color: var(--white);
}
/* work, project common */
.projects_total_info {
	margin-bottom: 32px;
	text-align: right;
	font-size: var(--fs-h6);
	font-weight: var(--fw-bold);
	color: var(--primary-color);
}
.project_list li {
	margin-bottom: 48px;
}
.project_item {
	display: flex;
}
.project_img_wrap {
	width: 32%;
	aspect-ratio: 20/20;
	margin-right: 48px;
	border-radius: 16px;
	overflow: hidden;
}
.project_img_wrap img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.project_content_wrap {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.project_name {
	margin-bottom: 16px;
	line-height: var(--lh-h3);
	font-size: var(--fs-h3);
	font-weight: var(--fw-bold);
	color: var(--black);
}
.project_desc {
	flex: 1;
}
.project_desc li {
	margin-bottom: 8px;
	margin-left: 16px;
	list-style: disc;
}
.project_info {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}
.project_info .title {
	margin-right: 8px;
	font-weight: var(--fw-bold);
	color: var(--black);
}
.project_info a {
	color: var(--border-color-dark);
	text-decoration: underline;
}
.project_link {
	display: block;
	margin-top: 8px;
	padding: 16px 48px;
	width: fit-content;
	background: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 60px;
	font-size: var(--fs-h6);
	font-weight: var(--fw-bold);
	color: var(--white);
	transition: all 0.2s ease-out;
}
.project_link:hover {
	background: var(--white);
	color: var(--primary-color);
}
.project_item:hover .project_img_wrap img {
	transform: scale(1.2) translateZ(0);
}
/* work */
.work {
	background: var(--background-color);
}
/* project */
.project {
	background: var(--background-color);
}
/* footer */
.footer {
	background: var(--black);
}
.footer .container {
	padding: 80px 0;
}
.my_email {
	text-align: center;
	font-size: var(--fs-h6);
	font-weight: var(--fw-bold);
	color: var(--light-gray);
}
.my_links {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 24px 0;
}
.my_links .link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 56px;
	height: 56px;
	border-radius: 100%;
	border: 2px solid var(--gray);
	font-size: 0;
	overflow: hidden;
	opacity: 0.75;
	transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.my_links .link.velog {
	margin-right: 16px;
}
.my_links .link svg {
	width: 24px;
	height: 24px;
	fill: var(--gray);
}
.my_links .link svg path {
	fill: var(--gray);
}
.my_links .link:hover {
	border: 0 none;
	background: var(--primary-color);
	opacity: 1;
}
.my_links .link:hover svg,
.my_links .link:hover svg path {
	fill: var(--white);
}
.footer_comment {
	padding: 48px 0;
	text-align: center;
	color: var(--light-gray);
}

@media (max-width: 1240px) {
	.container {
		width: calc(100% - 80px);
	}
}
